extends layout
include mixins/_text_editor

block content

    if url.endsWith('/characters') || url.endsWith('/search')
        .l-margin-start
        if url.endsWith('/characters')
            .l-divider
                .c-divider__left
                    h1 Personajes
                .c-divider__right
        else
            a.l-divider(href='/characters')
                .c-divider__left
                    h1 &#10525; Personajes: Búsqueda
                .c-divider__right

        .l-main-content
            .l-search
                form.c-search(action='/characters/search' method='post')
                    .c-search__input
                        label(for='name') Nombre
                        input(type='text' name='name' id='name' placeholder='Buscar personaje por nombre')
                    .c-search__input
                        label(for='relationship') Relacion
                        input(type='text' name='relationship' id='relationship' placeholder='Buscar personaje por relacion')
                    .c-search__input
                        label(for='place') Lugar
                        input(type='text' name='place' id='place' placeholder='Buscar personaje por lugar')
                    .c-search__input
                        label(for='race') Raza
                        input(type='text' name='race' id='race' placeholder='Buscar personaje por raza')
                    .c-search__input
                        button.c-button--large.m-clickable(type='submit') Buscar
            
            .l-margin--3
            .l-cards--4
                each character in characters
                    a.c-card(href=`/characters/${character.name}`)
                        .c-card__header
                            .c-card__header-left
                                h2 #{character.name}
                            .c-card__header-right
                        if character.image != '' && character.image != undefined
                            img.c-card__image(src=`http://res.cloudinary.com/duezou4td/image/upload/${character.image}.png` alt=`${character.name}'s Image`)
                        else
                            img.c-card__image(src=tmpImg)
    
    else
        .l-margin-start
        a.l-divider(href='/characters')
            .c-divider__left
                h1 &#10525; Personajes
            .c-divider__right

        .l-main-content
            .l-text-wrap
                if character.image != '' && character.image != undefined
                    img.l-text-wrap__image(src=`http://res.cloudinary.com/duezou4td/image/upload/${character.image}.png` alt=`${character.name}'s Image`)
                .c-basic-info
                    h3 Resumen
                    p= `Título: ${character.title || '???'}`
                    p= `Afiliación: ${character.affiliation || '???'}`
                    p= `Lugar de Origen o donde fué conocido: ${character.place || '???'}`
                    p= `Edad: ${character.age || '???'}`
                    p= `Raza: ${character.race || '???'}`
                    p= `Clase: ${character.class || '???'}`
                    p= `Tamaño: ${character.size || '???'}`
                .c-basic-info
                    h3 Apariencia
                    if character.appearance != '' && character.appearance != undefined
                        - const lines = character.appearance.split(/(\r\n|\r|\n)/g)
                        each line in lines
                            p= line
                    else
                        p ???

            h2= `${character.name}`

            if character.summary != '' && character.summary != undefined
                +textEditor('view', character.summary)
            else
                p #{character.name} no tiene historia/resumen.

        .l-main-content.l-clearleft
            h2 Comentarios
            if user
                .l-content-box
                    .c-content-box
                        img.c-content-box__image(src='/images/logos/favicon.png' alt='SideQuest Logo')
        
                        .l-content-box__content
                            .c-content-box__title
                                h3 #{user.username}
                                - const date = new Date()
                                em.l-content-box__title--info= `Posted ${String(date.getDate()).padStart(2,'0')}/${String(date.getMonth() + 1).padStart(2,'0')}/${date.getFullYear()}`
                            
                            .l-content-box__text
                                form.c-edithero-form(action='' method='post')
                                    .c-edithero-form__input.c-edithero-form__input--stack
                                        textarea(name='comment' placeholder='Escribe tu comentario aquí.')
                                        button.c-button(type='submit') Comentar
            //- If character notes exist, display them with appropriate line breaks
            if character.notes != '' && character.notes != undefined
                each note in character.notes
                    .l-content-box--full-width
                        .c-content-box
                            img.c-content-box__image(src='/images/logos/favicon.png' alt='')

                            .l-content-box__content
                                .c-content-box__title
                                    h4 #{note.character}
                                
                                .l-content-box__text
                                    - const lines = note.text.split(/(\r\n|\r|\n)/g);
                                    each line in lines
                                        p= line
                                if user.username == note.character
                                    .l-margin--3
                                    a.c-button.m-background-red(href='') Delete
                                    .l-margin--2
            else
                p No hay comentarios.
        
        //-
            //- Load all announcements
            - var count = 0;
            each announcement in announcements
                .l-content-box
                    .c-content-box
                        img.c-content-box__image(src='/images/logos/favicon.png' alt='')
                        
                        .l-content-box__content
                            .c-content-box__title
                                h3 #{announcement.name}
                                - const date = new Date(announcement.date)
                                em.l-content-box__title--info= `Posted ${String(date.getDate()).padStart(2,'0')}/${String(date.getMonth() + 1).padStart(2,'0')}/${date.getFullYear()} by ${announcement.user}`
                            
                            .l-content-box__text
                                //- Announcements preview
                                .wmd-panel
            
                
    //-             //- If user is viewing an individual character
    //-             else
    //-                 h3 #{character.name}
    //-                 hr
    //-                 .text_wrap
    //-                     if character.image != '' && character.image != undefined
    //-                         img(src=`http://res.cloudinary.com/duezou4td/image/upload/${character.image}.png` alt=`${character.name} image`)
    //-                     else
    //-                         img(src=tmpImg alt=`${character.name} image`)
    //-                     .basic_info
    //-                         h4 Resumen
    //-                         p= `Lugar de Origen o donde fué conocido: ${character.place || '???'}`
    //-                         p= `Edad: ${character.age || '???'}`
    //-                         p= `Raza: ${character.race || '???'}`
    //-                         p= `Clase: ${character.class || '???'}`
    //-                         p= `Tamaño: ${character.size || '???'}`
                    
    //-                 h4 Apariencia:
    //-                 if character.appearance != '' && character.appearance != undefined
    //-                     .main_item.margin.smaller_font_9
    //-                         - const lines = character.appearance.split(/(\r\n|\r|\n)/g)
    //-                         each line in lines
    //-                             p= line
    //-                 else
    //-                     p ???
                    
    //-                 h4 Resumen/Historia:
    //-                 hr
    //-                 if character.summary != '' && character.summary != undefined
    //-                         +textEditor('view', character.summary)
    //-                 else
    //-                     p #{character.name} no tiene historia/resumen.
                    
    //-                 //- If character notes exist, display them with appropriate line breaks
    //-                 if character.notes != '' && character.notes != undefined
    //-                     h4 Notas:
    //-                     hr
    //-                     each note in character.notes
    //-                         .note
    //-                             div
    //-                                 h4= note.character
    //-                                 - const lines = note.text.split(/(\r\n|\r|\n)/g);
    //-                                 each line in lines
    //-                                     p= line