doctype html
html(lang='es')
  head
    title= title

    //- Stylesheet
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    //- Favicon
    link(rel="icon" type="image/png" href="/images/logos/favicon.png")
  body
    //- Global Variables
    - const tmpImg = 'https://lunawood.com/wp-content/uploads/2018/02/placeholder-image.png'
    
    //- Header/Nav
    header
      nav
        img.nav__logo(src='/images/logos/sidequestlogo.png', alt="SideQuest DnD logo")

        ul
          li
            a(href="/") Inicio
          li
            a(href="/heroes") Héroes
          li
            a(href="/characters") Personajes
          li
            a(href="/story") Historia
          li
            a(href="/maps") Mapas
          //- If user is not logged in
          if !user
            li
              a(href="/login") Ingresar
          //- Else if user is logged in
          else
            li.l-dropdown
              a.m-cursor-normal #{user.username}
              ul.c-dropdown
                li 
                  a(href=`/users/${user.username}`) Cuenta
                li 
                  a(href=`/users/${user.username}/heroes`) Héroes
                li
                  a(href=`/users/${user.username}/spells`) Spells
                li 
                  a(href=`/users/${user.username}/characters`) Personajes
                li
                  a(href=`/users/${user.username}/story`) Historias
                if user.isAdmin
                  li
                    //- a(href=`/users/${user.username}/temprace`) Admin
                    a(href=`/admin`) Admin
                else if user.isDM
                  li
                    a(href='/dm') DM
            li
              a(href="/logout")
                img#nav__icon(src='/images/icons/logout.png' alt="logout")
          
    main
      block content
