mixin manage(user)
    .content_header
        h2= user.username
        .content_options_wrapper
            .content_option
    .content_sidebar
        a.sidebar_item(href=`/users/user/${user.username}`) Cuenta
        if !user.isDM
            a.sidebar_item(href=`/users/user/${user.username}/hero`) Heroe
        else
            a.sidebar_item(href=`/users/user/${user.username}/heros`) Heroes
        a.sidebar_item(href=`/users/user/${user.username}/story`) Historia
        a.sidebar_item(href=`/users/user/${user.username}/characters`) Personajes