extends ../../views_old/layout
include ../mixins/_text_editor

block content
    .outer_wrapper.color
        .content
            .content_header
                h2 Editar Historia
            .content_sidebar
                a.sidebar_item(href=`/users/user/${username}/story/addStory`) Agregar Sesión
                //- Add sessions listing
                each story in stories
                    a.sidebar_item(href=`/users/user/${username}/story/${story._id}`) #{story.name}
            .content_main
                if url.endsWith('/story')
                    h3 Editar Historia
                    hr
                    p Mini guide/tutorial on how to use page or how it works
                else if url.endsWith('/addStory')
                    h3 Agregar Sesion
                    hr
                    form.content_form(action='' method='post')
                        input(type='hidden' name='character_id' value=(hero != undefined ? hero._id : ''))
                        input(type='hidden' name='character' value=(hero != undefined ? hero.name : username))
                        .form_input
                            label(for='name') *Nombre de la Sesión:
                            input(type='text' name='name' id='name' placeholder='Sesión 1' required)
                        .form_input
                            label(for='summary') Resumen:
                            +textEditor('story', '', 'Escribe el resumen principal de la sesión aquí.')
                        .form_input
                            label(for='text') Agregar Notas:
                        .form_input.areaButton
                            textarea(name='text' id='text' rows='5' placeholder='Escribe notas de la sesión aquí.')
                            button.button_small(type='submit') +
                        .form_input
                            button.button_small(type='submit') Guardar
                else
                    h3 #{story.name}
                    hr
                    form.content_form(action='' method='post')
                        input(type='hidden' name='character_id' value=(hero != undefined ? hero._id : ''))
                        input(type='hidden' name='character' value=(hero != undefined ? hero.name : username))
                        .form_input
                            label(for='name') *Nombre de la Sesión:
                            input(type='text' name='name' id='name' placeholder='Sesión 1' value=story.name required)
                        .form_input
                            label(for='summary') Resumen:
                            +textEditor('story', story.summary, 'Escribe el resumen principal de la sesión aquí.')
                        .form_input.margin
                            button.button_small(type='submit') Guardar
                        .form_input
                            label(for='text') Agregar Notas:
                        .form_input.areaButton
                            textarea(name='text' id='text' rows='5' placeholder='Escribe notas de la sesión aquí.')
                            button.button_small(type='submit') +
                        .form_input
                            if hero != undefined
                                p Notas de tu personaje:
                            else
                                p Notas tuyas (DM):
                            each note in story.notes
                                if hero != undefined
                                    if note.character_id.toString() == hero._id
                                        - const lines = note.text.split(/(\r\n|\r|\n)/g);
                                        .note
                                            div
                                                each line in lines
                                                    p= line
                                            p.dropdown_button.clickable.smaller_font &nabla;
                                        .inline_modal.color
                                                //- input(type='hidden' name='note_id' value=note._id)
                                                .form_input
                                                    textarea(name=`note_text[${note._id}]` id='note_text' rows='5' placeholder='Escribe notas de la sesión aquí.')= note.text
                                                .form_input.radio
                                                    p Borrar Nota
                                                    label(for="delete_note.true") Si
                                                    input(type="radio" name=`delete_note[${note._id}]` id='delete_note.true' value='true')
                                                    label(for="delete_note.false") No
                                                    input(type="radio" name=`delete_note[${note._id}]` id='delete_note.false' value='false' checked)
                                                .form_input
                                                    button.button_small(type='submit' value=`edit_note[${note._id}]`) Guardar cambios
                                else
                                    if note.character == username
                                        - const lines = note.text.split(/(\r\n|\r|\n)/g);
                                        .note
                                            div
                                                each line in lines
                                                    p= line
                                            p.dropdown_button.clickable.smaller_font &nabla;
                                        .inline_modal.color
                                                //- input(type='hidden' name='note_id' value=note._id)
                                                .form_input
                                                    textarea(name=`note_text[${note._id}]` id='note_text' rows='5' placeholder='Escribe notas de la sesión aquí.')= note.text
                                                .form_input.radio
                                                    p Borrar Nota
                                                    label(for="delete_note.true") Si
                                                    input(type="radio" name=`delete_note[${note._id}]` id='delete_note.true' value='true')
                                                    label(for="delete_note.false") No
                                                    input(type="radio" name=`delete_note[${note._id}]` id='delete_note.false' value='false' checked)
                                                .form_input
                                                    button.button_small(type='submit' value=`edit_note[${note._id}]`) Guardar cambios

    script.
        const dropdownButtons = document.querySelectorAll('.dropdown_button');
        const inlineModals = document.querySelectorAll('.inline_modal');

        dropdownButtons.forEach((element, index) => {
            element.addEventListener('click', () => {
                inlineModals[index].style.display === '' || inlineModals[index].style.display === 'none'
                    ? inlineModals[index].style.display = 'block'
                    : inlineModals[index].style.display = 'none'
                
                element.innerHTML === '∇'
                    ? element.innerHTML = '&Delta;'
                    : element.innerHTML = '&nabla;';
            });
        });
                                            
