extends layout
include mixins/_text_editor

block content
    .outer_wrapper.color
        .content
            .content_header
                h2 Personajes
            
            .content_sidebar
                //- Load all existing characters in sidebar
                each character in characters
                    a.sidebar_item(href=`/characters/${character.name}`) #{character.name}
            
            .content_main
                //- If user is in characters main page
                if url.endsWith('/characters')
                    h3 Intro to Characters page
                    hr
                
                //- If user is viewing an individual character
                else
                    h3 #{character.name}
                    hr
                    .text_wrap
                        if character.image != '' && character.image != undefined
                            img(src=`http://res.cloudinary.com/duezou4td/image/upload/${character.image}.png` alt=`${character.name} image`)
                        else
                            img(src=tmpImg alt=`${character.name} image`)
                        .basic_info
                            h4 Resumen
                            p= `Lugar de Origen o donde fué conocido: ${character.place || '???'}`
                            p= `Edad: ${character.age || '???'}`
                            p= `Raza: ${character.race || '???'}`
                            p= `Clase: ${character.class || '???'}`
                            p= `Tamaño: ${character.size || '???'}`
                    
                    h4 Apariencia:
                    if character.appearance != '' && character.appearance != undefined
                        .main_item.margin.smaller_font_9
                            - const lines = character.appearance.split(/(\r\n|\r|\n)/g)
                            each line in lines
                                p= line
                    else
                        p ???
                    
                    h4 Resumen/Historia:
                    hr
                    if character.summary != '' && character.summary != undefined
                            +textEditor('view', character.summary)
                    else
                        p #{character.name} no tiene historia/resumen.
                    
                    //- If character notes exist, display them with appropriate line breaks
                    if character.notes != '' && character.notes != undefined
                        h4 Notas:
                        hr
                        each note in character.notes
                            .note
                                div
                                    h4= note.character
                                    - const lines = note.text.split(/(\r\n|\r|\n)/g);
                                    each line in lines
                                        p= line